html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #606c76;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

body > .container {
  margin-top: 3rem;
}

section {
  margin-bottom: 4.0rem;
}

a {
  color: #9b4dca;
  text-decoration: none;
}

a:focus, a:hover {
  color: #606c76;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

.component {
  font-weight: 400;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #e1e1e1;
}

.component span + span {
  float: right;
}

.component span + span.operational {
  color: #2fcc66;
}

.component span + span.unknown {
  color: #eaab3d;
}

.incident {
  margin-bottom: 4rem;
}

.incident h6 {
  border-bottom: 0.1rem solid #e1e1e1;
}

.incident p.highlight {
  font-weight: 400;
  color: #eaab3d;
}
