{{ $title := "DigitalOcean Example Status Page"}}
<!doctype html>
<html>
  <head>
    <title>{{ $title }}</title>
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>{{ $title }}</h1>
      <section>
        <h4>Components</h4>
        {{ range .Components }}
        <div class="component">
          <span>{{ .Name }}</span>
          <span class="{{ .Status }}">{{ .Status }}</span>
        </div>
        {{ end }}
      </section>
      <section>
        <h4>Incidents</h4>
        {{ range .Incidents }}
        <div class="incident">
          <h6>{{ "Jan _2, 2006" | .Date.Format }}</h6>
          {{- if or .Title .Description }}
          <p class="highlight title">{{ "15:04:05" | .Date.Format }} - {{ .Title }}</p>
          <p class="highlight">{{ .Description }}</p>
          {{ else }}
          <p>No incidents reported.</p>
          {{ end }}
        </div>
        {{ end }}
      </section>
    </div>
  </body>
</html>
